*{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

a:hover{
	text-decoration: none !important;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/******** slides ********/

.sliderContainer .saleCircle
{
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
    width: 315px;
    height: 315px;
    color: #fff;
    text-align: center;
    background-color: #532414;
    opacity: 0.8;
    position: absolute;
    z-index: 2;
}

.sliderContainer .slide
{
	position: relative;
}

.sliderContainer .slide .saleCircleImg
{
	position: absolute;
	z-index: 2;
	max-width: 316px;
	max-height: 316px;
	left: 24%;
	top: 23%;
	width: 28%;
}


/*********/


.visibleNearby .rsGCaption {
  font-size: 16px;
  line-height: 18px;
  padding: 12px 0 16px;
  width: 100%;
  position: static;
  float: left;
  left: auto;
  bottom: auto;
  text-align: center;
}
.visibleNearby .rsGCaption span {
  display: block;
  clear: both;
  color: #bbb;
  font-size: 14px;
  line-height: 22px;
}


/* Scaling transforms */
.visibleNearby .rsSlide img {
  opacity: 0.45;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

}
.visibleNearby .rsActiveSlide img {
  opacity: 1;
  -webkit-transform: scale(1);  
  -moz-transform: scale(1); 
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

  #gallery-1 {
  }
  #gallery-1 .rsOverflow,
  .royalSlider#gallery-1 {
    /* height: 695px !important; */
  }

  #page-navigation { display: none; }



html, body{
	height: 100%;
}
body{
	height: 100%;
	font-family: "Trebuchet MS";
	min-width: 720px;
}
.header{
	width: 100%;
	height: 75px;
	position: fixed;
	top: 0;
	background: #363636;
	z-index: 102;
	min-width: 720px;
}
	.header .menuContainer.bigMon{
		margin: 0 auto;
		padding-left: 60px;
	}
		.header .menuContainer.bigMon img{
			margin-left:0;
		}
	.header img{
		margin-left: 35px;
		margin-top: 21px;
	}
	.header ul.topMenu{
		list-style: none;
		float: right;
		margin-top: 27px;
		margin-right: 64px;
	}
		.header .menuContainer.bigMon ul.topMenu{
			margin-right: -60px;
		}
		.header ul.topMenu li{
			display: inline-block;
			font: normal 16px/21px "Trebuchet MS";
			color: white;
				border-bottom: 1px solid transparent;
		}
			.header ul.topMenu li#news{
				margin-left: 47px;
			}
			.header ul.topMenu li#club{
				margin-left: 43px;
			}
			.header ul.topMenu li#discount{
				margin-left: 41px;
			}
			.header ul.topMenu li#shop{
				margin-left: 37px;
			}
				.header ul.topMenu li:hover{
					color: #FFF;
					border-bottom-color: #929597;
					text-decoration: none;
					cursor: pointer;
				}
.leftMenu{
	height: 100%;
	background: #363636 url(../img/topShadow.png) no-repeat top;
	width: 120px;
	position: fixed;
	left: 0;
	z-index: 101;
	padding-top: 74px;
}
	.leftMenu a{
		border-top: 1px solid #484848;
		display: block;
	}
		.leftMenu #nb{
			background:url(../img/grey-nb.png) no-repeat center;
			height: 51px;
		}
			.leftMenu #nb:hover{
				background: #edf3f8 url(../img/black-nb.png) no-repeat center;
			}
		.leftMenu #leeC{
			background: url(../img/grey-lc.png) no-repeat center;
			height: 48px;
		}
			.leftMenu #leeC:hover{
				background: #edf3f8 url(../img/black-lc.png) no-repeat center;
			}
		.leftMenu #cyan{
			background: url(../img/grey-cyan.png) no-repeat center;
			height: 40px;
		}
			.leftMenu #cyan:hover{
				background: #edf3f8 url(../img/black-cyan.png) no-repeat center;
			}
		.leftMenu #dkny{
			background: url(../img/grey-dkny.png) no-repeat center;
			height: 44px;
		}
			.leftMenu #dkny:hover{
				background: #edf3f8 url(../img/black-dkny.png) no-repeat center;
			}
		.leftMenu #aldo{
			background: url(../img/grey-aldo.png) no-repeat center;
			height: 40px;
		}
			.leftMenu #aldo:hover{
				background: #edf3f8 url(../img/black-aldo.png) no-repeat center;
			}
		.leftMenu #desigual{
			background: url(../img/grey-des.png) no-repeat center;
			height: 41px;
		}
			.leftMenu #desigual:hover{
				background: #edf3f8 url(../img/black-des.png) no-repeat center;
			}
		.leftMenu #chevignon{
			background: url(../img/grey-chev.png) no-repeat center;
			height: 39px;
		}
			.leftMenu #chevignon:hover{
				background: #edf3f8 url(../img/black-chev.png) no-repeat center;
			}
		.leftMenu #nn{
			background: url(../img/grey-nn.png) no-repeat center;
			height: 39px;
		}
			.leftMenu #nn:hover{
				background: #edf3f8 url(../img/black-nn.png) no-repeat center;
			}
		.leftMenu #jc{
			background: url(../img/grey-jc.png) no-repeat center;
			height: 41px;
		}
			.leftMenu #jc:hover{
				background: #edf3f8 url(../img/black-jc.png) no-repeat center;
			}
		.leftMenu #dknyj{
			background: url(../img/grey-dj.png) no-repeat center;
			height: 34px;
		}
			.leftMenu #dknyj:hover{
				background: #edf3f8 url(../img/black-dj.png) no-repeat center;
			}
		.leftMenu #tmb{
			background: url(../img/grey-tmb.png) no-repeat center;
			height: 42px;
		}
			.leftMenu #tmb:hover{
				background: #edf3f8 url(../img/black-tmb.png) no-repeat center;
			}
		.leftMenu #zv{
			background: url(../img/grey-zv.png) no-repeat center;
			height: 39px;
		}
			.leftMenu #zv:hover{
				background: #edf3f8 url(../img/black-zv.png) no-repeat center;
			}
		.leftMenu #ber{
			background: url(../img/grey-ber.png) no-repeat center;
			height: 45px;
		}
			.leftMenu #ber:hover{
				background: #edf3f8 url(../img/black-ber.png) no-repeat center;
			}
		.leftMenu #mop{
			background: url(../img/grey-mp.png) no-repeat center;
			height: 39px;
		}
			.leftMenu #mop:hover{
				background: #edf3f8 url(../img/black-mp.png) no-repeat center;
			}
.contWithPad{
	position: relative;
	padding-left: 120px;
	height: 100%;
}
.pagesCont{
	position: relative;
	height: 100%;
}
#sliderPart{
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

.rsSlide .back{
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../img/slides-back.png);
	z-index: 100;
	opacity: 1;
	-webkit-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}
.rsSlide.rsActiveSlide .back{
	opacity: 0;
	z-index: 1;
	-webkit-transition: none;
	transition: none;
}

.rsContainer img{
	margin-top: 0 !important;
	margin-left: 0 !important;
	width: 100%;
}
#newsPart{
	position: absolute;
	top: 100%;
	height: 100%;
	width: 100%;
	padding-top: 75px;
}
#clubPart{
	position: absolute;
	top: 200%;
	height: 100%;
	width: 100%;
	padding-top: 75px;
}

	.littleArrow img{
		margin-bottom: 3px;
	}
	#clubPart .clubBack{
		background: url(../img/club-back.jpg) no-repeat;
		width: 960px;
		height: 415px;
		padding-top: 80px;
		padding-left: 66px;
		margin-bottom: 38px;
	}
	#clubPart h1{
		margin-bottom: 0;
		margin-top: 73px;
		padding-bottom: 3px;
	}
	#clubPart h2{
		margin: 0;
		width: 380px;
		font: normal 20px/28px "Trebuchet MS";
		margin-top: -5px;
	}
		#clubPart h2 span{
			font-size: 28px;
			font-weight: bold;
			line-height: 23px;
		}
	#clubPart p{
		font: normal 14px/21px "Trebuchet MS";
		color: black;
		margin-top: 29px;
		margin-left: 3px;
		width: 360px;
	}
	#clubPart form{
		margin-top: 71px;
	}
		#clubPart input.subscribeInput{
			height: 36px;
			width: 152px;
			margin-left: 5px;
		}
		#clubPart form input:first-child{
			margin-left: 1px;
		}
		#clubPart a.subsctibeButton{
			margin-left: 3px;
			padding: 7px 29px;
		}
	.linksRow{
		list-style: none;
		margin: 0;
		margin-top: 23px;
	}
	.linksRow li{
		display: block;
		float: left;
	}
		.linksRow a{
			font: normal 14px/20px "Trebuchet MS";
			color: black;
			border-bottom: 1px dashed #999999;
			padding-bottom: 1px;
		}
			.linksRow a:hover{
				color: black;
				border-bottom-color: transparent;
			}
			.linksRow .leftColumn{
				width: 326px;
				padding-right: 50px;
			}
			.linksRow .centerColumn{
				width: 355px;
				padding-right: 50px;
			}
			.linksRow .rightColumn{
				width: 279px;
			}
#marketPart{
	position: absolute;
	top: 300%;
	height: 100%;
	width: 100%;
	padding-top: 75px;
}
	#marketPart .notMainPageCont h1{
		margin-top: 71px;
		padding-bottom: 4px;
	}
	.buttonsPart{
		float: right;
		margin-top: -88px;
	}
		.buttonsPart div{
			padding: 12px 42px 13px;
			float: left;
			cursor: pointer;
		}
			.buttonsPart div{
				font-family: "Trebuchet MS";
				font-weight: bold;
				font-size: 16px;
				color: black;
			}
			.buttonsPart div.listButton{
				padding:10px 44px 8px;
				border: 3px solid white;
				background: #ededed;
			}
			.buttonsPart div.mapButton{
				padding: 11px 46px;
				border: 3px solid black;
				padding: 11px 39px 10px;
				position: relative;
			}
				.buttonsPart .whiteLine{
					width: 100%;
					height: 3px;
					padding: 0;
					bottom: -3px;
					right: 0;
					background: white;
					position: absolute;
				}
				.buttonsPart .notActive span{
					border-bottom: 1px dotted #767676;
				}
				.buttonsPart span:hover{
					border-bottom-color:transparent;
				}
	.selectsPart{
		margin-top: -28px;
	}
	.mapContainer{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		padding-top: 260px;
		z-index: -1;
		min-width: 960px;
	}
		.mapImgCont{
			box-shadow: inset 0px 1px 3px rgba(0,0,0,0.35);
			height: 100%;
		}
		.mapContainer img{
			width: 100%;
			z-index: -1;
			position: relative;
			display: block;
			height: 100%;
		}
#brendsPart{
	position: absolute;
	top: 400%;
	height: 100%;
	width: 100%;
	padding-top: 75px;
}
#brendsPart h1{
	font: normal 32px/46px "Trebuchet MS";
	text-align: center;
	color: black;
	border:0;
	letter-spacing: 6px;
	margin-top: 41px;
}
	#brendsPart .brRow .brCell:first-child{
		margin-left: 0;
		width: 240px;
	}
	#brendsPart .brCell{
		width: 239px;
		height: 123px;
		display: block;
		float: left;
		margin-left: 1px;
		margin-bottom: 1px;
		background: white;
	} 
		#brendsPart .lastRow .brCell{
			margin-bottom: 0;
		}
	#brendsPart .notMainPageCont{
		margin-top: 19px;
	}

	#brendsPart .brendsTable{
		background: #d9d9d9;
		margin-top: -12px;

	}
		#brendsPart .brendsTable #brChe{
			background: white url(../img/br-grey-chev.gif) no-repeat center;
		}
			#brendsPart .brendsTable #brChe:hover{
				background: #edf3f8 url(../img/br-black-chev.gif) no-repeat center;
			}
		#brendsPart .brendsTable #brDkny{
			background: white url(../img/br-grey-dkny.gif) no-repeat center;
		}
			#brendsPart .brendsTable #brDkny:hover{
				background: #edf3f8 url(../img/br-black-dkny.gif) no-repeat center;
			}
		#brendsPart .brendsTable #brNb{
			background: white url(../img/br-grey-nb.gif) no-repeat center;
		}
			#brendsPart .brendsTable #brNb:hover{
				background: #edf3f8 url(../img/br-black-nb.gif) no-repeat center;
			}
		#brendsPart .brendsTable #brDes{
			background: white url(../img/br-grey-des.gif) no-repeat center;
		}
			#brendsPart .brendsTable #brDes:hover{
				background: #edf3f8 url(../img/br-black-des.gif) no-repeat center;
			}
		#brendsPart .brendsTable #brLc{
			background: white url(../img/br-grey-lc.gif) no-repeat center;
		}
			#brendsPart .brendsTable #brLc:hover{
				background: #edf3f8 url(../img/br-black-lc.gif) no-repeat center;
			}
		#brendsPart .brendsTable #brTmb{
			background: white url(../img/br-grey-tmb.gif) no-repeat center;
		}
			#brendsPart .brendsTable #brTmb:hover{
				background: #edf3f8 url(../img/br-black-tmb.gif) no-repeat center;
			}
		#brendsPart .brendsTable #brNn{
			background: white url(../img/br-grey-nn.gif) no-repeat center;
		}
			#brendsPart .brendsTable #brNn:hover{
				background: #edf3f8 url(../img/br-black-nn.gif) no-repeat center;
			}
		#brendsPart .brendsTable #brZv{
			background: white url(../img/br-grey-zv.gif) no-repeat center;
		}
			#brendsPart .brendsTable #brZv:hover{
				background: #edf3f8 url(../img/br-black-zv.gif) no-repeat center;
			}
		#brendsPart .brendsTable #brAldo{
			background: white url(../img/br-grey-aldo.gif) no-repeat center;
		}
			#brendsPart .brendsTable #brAldo:hover{
				background: #edf3f8 url(../img/br-black-aldo.gif) no-repeat center;
			}
		#brendsPart .brendsTable #brJc{
			background: white url(../img/br-grey-jc.gif) no-repeat center;
		}
			#brendsPart .brendsTable #brJc:hover{
				background: #edf3f8 url(../img/br-black-jc.gif) no-repeat center;
			}
		#brendsPart .brendsTable #brMp{
			background: white url(../img/br-grey-mp.gif) no-repeat center;
		}
			#brendsPart .brendsTable #brMp:hover{
				background: #edf3f8 url(../img/br-black-mp.gif) no-repeat center;
			}
		#brendsPart .brendsTable #brCyan{
			background: white url(../img/br-grey-cyan.gif) no-repeat center;
		}
			#brendsPart .brendsTable #brCyan:hover{
				background: #edf3f8 url(../img/br-black-cyan.gif) no-repeat center;
			}
		#brendsPart .brendsTable #brDj{
			background: white url(../img/br-grey-dj.gif) no-repeat center;
		}
			#brendsPart .brendsTable #brDj:hover{
				background: #edf3f8 url(../img/br-black-dj.gif) no-repeat center;
			}
		#brendsPart .brendsTable #brBer{
			background: white url(../img/br-grey-ber.gif) no-repeat center;
		}
			#brendsPart .brendsTable #brBer:hover{
				background: #edf3f8 url(../img/br-black-ber.gif) no-repeat center;
			}


.notMainPageCont{
	width: 960px;
	margin: 0 auto;
	margin-top: 59px;
	position: relative;
	height: 100%;
}
	.notMainPageCont h1{
		line-height: 41px;
		border-bottom: 3px solid black;
		margin-bottom: 40px;
	}
		.notMainPageCont h1,
		.notMainPageCont h1 a{
			font: bold 27px/24px "Trebuchet MS";
			color: black;
		}
	.notMainPageCont .newsLine{
		margin-top: 29px;
	}
		.notMainPageCont .newCont{
			width: 220px;
			margin-left: 26px;
			float: left;
		} 
			.notMainPageCont .newsLine .newCont:first-child{
				margin-left: 0;
			}
			p.date{
				color: #111111;
				font: italic 13px/21px "Trebuchet MS";
				margin-bottom: 2px;
			}
			a.newName{
				font: normal 17px/23px "Trebuchet MS";
				color: black;
				padding-bottom: 1px;
				border-bottom: 1px solid #cccccc;
			}
				a.newName:hover{
					color: black;
					border-bottom-color: transparent;
				}
	.newsSubscriptio{
		position: absolute;
		bottom: 59px;
		width: 100%;
		height: 95px;
		background: #f1f1f1;
		padding-left: 50px;
		padding-top: 36px;
	}
		.newsSubscriptio label{
			font: bold 18px/24px "Trebuchet MS";
			color: black;
		}
		input.subscribeInput{
			font: italic 14px/24px "Trebuchet MS";
			color: #787878;
			height: 34px;
			width: 260px;
			border: 1px solid #cccccc;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			margin-left: 16px;
			padding-left: 6px;
		}
		a.subsctibeButton{
			font: bold 16px/24px "Trebuchet MS";
			text-shadow: 0px 1px 0px rgba(255,255,255,0.64);
			color: black;
			background: #d7d7d7;
			border:1px solid #b7b7b7;
			border-top-color: #dfdfdf;
			box-shadow: inset 0px 2px 1px rgba(255,255,255,0.55);
			margin-left: 6px;
			padding: 7px 12px;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
		}
			a.subsctibeButton:hover{
				color: black;
			}
		.newsSubscriptio p.subscribeInform{
			position: absolute;
			width: 215px;
			top: 37px;
			right: 46px;
			font: italic 12px/16px "Trebuchet MS";
			color: #919191;
		}

.leftMenuBut{
	position: fixed;
	z-index: 1000;
	display: none;
	cursor: pointer;
	height: 100%;
	vertical-align: middle;
	top: 50%;
	overflow: hidden;
}

.leftMenuBut .halfCirlce
{
	color: gray;
	background-color: #363636;
	width: 48px;
	height: 48px;
	border-radius: 100%;
	margin-left: -24px;
}

.leftMenuBut .halfCirlce .arrow
{
	display: block;
	margin-left: 31px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.leftMenuBut.visible .halfCirlce .arrow
{
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
}

.leftMenu,
.leftMenuBut
{
	transition: left 0.3s;
	-webkit-transition: left 0.3s;
}
.selectValueWrap{
	position: relative;
	z-index: 2;
}


@media only screen and (max-width : 1200px) {
	.leftMenu{
		left: -120px;
	}

	.leftMenu.visible
	{
		left: 0;
	}

	.leftMenuBut{
		display: block;
	}

	.leftMenuBut.visible{
		left: 120px;
	}

	.contWithPad{
		padding-left: 0;
	}
	.notMainPageCont{
		margin-top: 25px;
	}
	.newsSubscriptio {
		bottom: 25px;
	}
	.header .menuContainer.bigMon{
		padding-left: 0;
	}
	#clubPart h1{
		margin-top: 25px;
	}
	.mapContainer{
		padding-top: 210px;
	}
	@-moz-document url-prefix() 
	{ 
		.mapContainer{
			padding-top: 230px;
		}
	} 
	#marketPart .notMainPageCont h1{
		margin-top: 25px;
	}
	#brendsPart .notMainPageCont{
		margin-top: -25px;
	}
	#clubPart .clubBack{
		margin-bottom: 20px;
	}
	.linksRow{
		margin-top: 15px;
	}
	#brendsPart h1{
		margin-bottom: 25px;
	}
	.header .menuContainer.bigMon ul.topMenu{
		margin-right: 0;
	}
}

































